DATABASE_URL=postgres://postgres:mysecretpassword@localhost:5432/school_pitanga
SSL_KEY_PATH=certs/server.key
SSL_CERT_PATH=certs/server.cert
KEYCLOAK_ISSUER=https://localhost:8444/realms/pitanga
KEYCLOAK_CLIENT_ID=pitanga-client
KEYCLOAK_JWK_CERTS=https://localhost:8444/realms/pitanga/protocol/openid-connect/certs